@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Playpen Sans', cursive;
  }
}

.style {
  display: flex;
  justify-content: center;
  align-items: center;
}